#global.thumbs
*~
*.swp
/*.tar.gz
*.log
*.sql
/*.zip
/*.html
.ftpquota
media/wysiwyg/.thumbs

# directories
/downloader/.cache/**
/images/**
/var/**
!var/.htaccess
/media/*
!media/.htaccess
!media/wysiwyg
/cgi-bin/**
/sitemap
/sitemaps
/nbproject/private/
/nbproject
/.idea
/staging
skin/frontend/beps/default/scss/.sass-cache

# single files
/.htaccess
/.htaccess*
/.htpasswd
/app/etc/local.xml
/robots.txt
/sitemap.xml
/index.php
/downloader/connect.cfg
/LICENSE_AFL.txt
/LICENSE.txt
BingSiteAuth.xml
/PATCH_SUPEE*.sh
Thumbs.db
.DS_Store

error_log
RELEASE_NOTES.txt

#developer tools
n98-magerun.phar

app/code/local/Mage/Core/Model/Layout.php
app/code/local/Varien/File/Uploader.php
app/code/local/Varien/Data/Form/Element/Image.php

#wordpress
wp/*.log
wp/.htaccess
wp/sitemap.xml
wp/sitemap.xml.gz
wp/wp-config.php
wp/wp-content/advanced-cache.php
wp/wp-content/backup-db/
wp/wp-content/backups/
wp/wp-content/blogs.dir/
wp/wp-content/cache/
wp/wp-content/upgrade/
wp/wp-content/uploads/
wp/wp-content/wp-cache-config.php
wp/wp-content/plugins/hello.php
wp/readme.html
wp/license.txt

skin/frontend/daLewis/default/.sass-cache
skin/frontend/daLewis/default/scss/.sass-cache
shell/migrate.php